@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

$brand-primary: rgb(53, 126, 221);
$brand-secondary: rgb(101, 30, 168);
$font-size: 5em;
$roboto: "Roboto Condensed", Helvetica, Arial, sans-serif;

body {
  height: 100vh;
  background: $brand-primary;
  color: $brand-secondary;
  font-size: $font-size;
  font-weight: 100;
  font-family: $roboto;
}
.container {
  width: 100%;
  display: flex;
  > .image-wrapper {
    display: inline-block;
    margin: 0 10px;

    >.image {
      width: auto;
      height: 300px;
    }
  }
}